motor==2.5.1
bcrypt==3.2.0
pymongo==3.12.3
redis==4.1.4
fastapi==0.79.0
uvicorn[standard]==0.18.2
python-socketio[asyncio]==5.12.1
python-multipart==0.0.5
requests==2.27.1
libtorrent>=2.0.7,<2.1.0
beautifulsoup4==4.10.0
random-user-agent==1.0.1
fake-useragent==0.1.11
lxml==4.6.3
celery==5.4.0
flower==2.0.1